body {
	background-color:grey;
}
.A
{
	width:300px;
	height:100px;
	border-style:solid;
	background-color:yellow;
	text-align:center;
	border-color:red;
}
.B
{
	background-color:white;
	width:300px;
	height:100px;
	border-style:solid;
	text-align:center;
	border-color:blue;
	position:absolute;
	left:100px;
	top:50px;
}